body {
	font-family: sans-serif;
}

div#header {
	background-color: #ffd0d0;
}

div#footer {
	background-color: #d0ffd0;
	clear: both;
}

div#left-nav {
	background-color: #ffffd0;
	width: 20%;
	height: 100%;
	float: left;
}

div#right-nav {
	background-color: #d0ffff;
	width: 20%;
	float: right;
}

div#content {
	width: 60%;
	background-color: #d0d0ff;
	float: left;
}

div#wrapper {
	margin: 0 auto;
}

div.row {
	padding-top: 10px;
}
